doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    body
        block content
            form(method='post')
                div#password_modal.col-md-4.col-md-offset-4
                    div.modal-header(style="margin: auto 0;")
                        h3 Change Password 
                            span.extra-title.muted
                        p Did you forget password of your JobAPP account?
                        p In this page, you can change your password.
                    div.form-group
                        input#password.form-control(name="password" type="password" placeholder="New password")
                    div.form-group
                        input#confirm_password.form-control(name="confirm_password" type="password" placeholder="Retry password")
                    div
                        center
                            button#password_modal_save.btn.btn-primary(type="submit") Save changes
